*{
    margin: 0;
    padding: 0;
}
header{
    width: 960px;
    margin: 0 auto;
    background-color: #ccc;
}
header h1{
    line-height: 100px;
    padding-left: 20px;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    padding: 0 10px;
}
nav ul li a{
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #777;
    color: white;
    padding: 0 20px;
    text-decoration: none;
}
section{
    width: 960px;
    margin: 0 auto;
}
.note{
    width: 500px;
    background-color: #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}
.note .del{
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-color: #f00;
    color: white;
    line-height: 30px;
    text-align: center;

}
.error {
    color: red;
    font-size: 20px;
}
.main {
    display: flex;
    flex-direction: row;
}

.left_block {
    width: 20%;
    background-color: cornsilk;
}

.left_block li {
    list-style-type: none;
    text-decoration: underline;
    font-size: 16px;
}

.categories {
    text-align: center;
    font-size: 18px;
    color: red;
}

.menu1 {
    width: 110px;
    background-color: burlywood;
    border: 1px solid black;
    margin: 8px 5px;
    line-height: 30px;
    text-align: center;
}

.right_block {
    width: 80%;
    background-color: aquamarine;
}
.hellos {
    background-color: #86c8cc;
    font-size: 18px;
}
.main_menu {
    padding: 20px;
}
.main_menu li {
    list-style: none;
}
.list_cat {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}
.list_cat button{
    height: 30px;
    margin: 8px 0px;
}